html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.mismatch {
    cursor: default;
    background: red;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 600px;
    margin-bottom: 10px;
	  display: flex;
	  flex-wrap: wrap;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
	  width: 20%;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    cursor: pointer;
	  width: 35%;
		text-align: center;
}

.score-panel span.timer {
    cursor: pointer;
		width: 45%;
	  text-align: right;
}

#congrats {
		width: 50%;
		min-height: 300px;
		margin: 0 auto;
		border-radius: 15px 15px 15px 15px;
		border: 10px solid rgba(82,82,82,0.7);
		position: absolute;
		background: rgba(255,255,255,1);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
		display: flex;
		flex-wrap: wrap;
	  padding: 10px;
}

#congrats .title {
		width: 100%;
		text-align: center;
		height: 40px;
}

#congrats .moves-n0-txt {
		width: 100%;
		text-align: center;
		height: 20px;
}

#congrats .stars-txt {
		width: 50%;
		text-align: right;
		height: 20px;
}

#congrats .stars-drawing {
		width: 50%;
		text-align: left;
		height: 20px;
}

.stars-drawing ul {
		display: inline-block;
		padding-left: 5px;
}

.stars-drawing ul li {
	  list-style: none;
    display: inline-block;
}

#congrats .new-game {
		width: 100%;
}

#congrats .timer-txt {
		width: 100%;
	text-align: center;
}

#congrats .new-game button {
		width: 100%;
		height: 50px;
		text-align: center;
		margin: 0;
		padding: 0;
		background-color: #046aab;
		color: white;font-family: 'Coda', cursive;
		font-size: 1.5em;
		border: none;
}

#congrats .new-game button:hover {
		background-color: #033e57;
		cursor: pointer;
}

.hide-msg {
		top: -999px;
}